<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="\static\about.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color:white;
        }

        h2 {
            color: #4caf50;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-dark bg-light fixed-top background: linear-gradient(to right, #4CAF50, #81C784);">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <label style="font-size: 30px;"><img src="/static/herbalverify.jpg" width="55px" height="55px"
                        alt=""><b>
                        HerbalVerify</b></label>
                <p style="font-size: 10px; margin-top: -20px; margin-left: 65px;">Give Best Results</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"> HerbalVerify</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/scan">Scan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/scanDisease">Disease Detection</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/ayurvedicShop">Ayurvedic Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/nursery">Nursery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/homeRemedies">Home Remedies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/doctor_data">Doctors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/post">See Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/submitPost">Post Text</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/adminPost">Admin Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/uploadDoc">Doctor Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-item nav-link" href="/">SignOut</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="content">
        <div class="section">
            <h2>About Company</h2>
            <p>HerbalVerify is a unique website that takes a simple leaf as input and uses advanced technology to
                determine the name of the medicinal plant it belongs to. Our platform is designed to provide accurate
                and reliable information about various medicinal plants, helping users identify and learn more about the
                natural remedies around them.</p>
        </div>

        <div class="section">
            <h2>Mission and Vision</h2>
            <p>Our mission at HerbalVerify is to empower individuals to harness the healing power of nature by providing
                easy access to information about medicinal plants. We envision a world where people are more connected
                to the natural world and have the knowledge to make informed decisions about their health and
                well-being.</p>
        </div>

        <div class="section">
            <h2>Core Values</h2>
            <ul>
                <li><strong>Accuracy:</strong> We are committed to providing reliable and up-to-date information about
                    medicinal plants.</li>
                <li><strong>Accessibility:</strong> We strive to make our platform user-friendly and accessible to
                    everyone.</li>
                <li><strong>Education:</strong> We believe in the importance of educating our users about the benefits
                    of natural remedies.</li>
                <li><strong>Innovation:</strong> We are constantly exploring new technologies to improve our services
                    and enhance the user experience.</li>
            </ul>
        </div>

        <div class="section">
            <h2>Team</h2>
            <p>Our team at HerbalVerify is made up of passionate individuals who are dedicated to promoting the use of
                medicinal plants for health and wellness. With a diverse range of expertise in technology, botany, and
                natural medicine, we work together to ensure that our platform meets the needs of our users and provides
                valuable information about the healing properties of plants.</p>
        </div>
    </section>
</body>

</html>